.modalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(var(--dark-color), 0.9);
  z-index: var(50);
}

.h2 {
  color: rgb(var(--positive-light-color));
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 90%;
  max-width: 1000px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: calc(var(--spacing-unit) * 1) calc(var(--spacing-unit) * 3);
  font-size: 1.5rem;
  margin-right: calc(var(--spacing-unit) * 4);
  color: white;
  border: none;
}

.cancel {
  background-color: rgb(var(--warning-color));
}

.create {
  background-color: rgb(var(--positive-color));
}
