.header {
  background-color: rgb(var(--dark-bg));
  color: white;
  padding: calc(var(--spacing-unit) * 4);
  display: flex;
  justify-content: space-around;
}

.button {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}
