.button {
  padding: calc(var(--spacing-unit) * 1) calc(var(--spacing-unit) * 3);
  font-size: 1rem;
  margin-right: calc(var(--spacing-unit) * 2);
  margin-bottom: calc(var(--spacing-unit) * 2);
  color: white;
  border: none;
}

.delete {
  background-color: rgb(var(--warning-color));
}

.start {
  background-color: rgb(var(--positive-color));
}

.reset {
  background-color: rgb(var(--medium-color));
}
