@import './StyleVars.css';

/* :root {
  font-size: 62.5%;
} */

body {
  font-family: sans-serif;
  /* background-color: rgb(var(--dark-color)); */
}

main {
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: calc(var(--spacing-unit) * 3);
}

h2 {
  font-size: 2rem;
  margin-bottom: calc(var(--spacing-unit) * 3);
}

p {
  font-size: 1.1rem;
}

label {
  display: block;
  padding-bottom: var(--spacing-unit);
  font-size: 1.2rem;
}

input,
textarea {
  margin-bottom: calc(var(--spacing-unit) * 4);
  padding: calc(var(--spacing-unit) * 2);
  font-size: 1.5rem;
}
