:root {
  --dark-color: 0, 0, 0;
  --medium-color: 116, 126, 126;
  --light-color: 63, 124, 133;
  --positive-color: 0, 204, 191;
  --positive-light-color: 114, 242, 235;
  --warning-color: 255, 95, 93;

  --spacing-unit: 8px;
}
