@import './StyleVars.css';

/* :root {
  font-size: 62.5%;
} */

body {
  font-family: sans-serif;
}

main {
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: calc(var(--spacing-unit) * 2);
}

h2 {
  font-size: 2rem;
  margin-bottom: calc(var(--spacing-unit) * 2);
}

p {
  font-size: 1.1rem;
}

label {
  display: block;
}

input,
textarea {
  margin-bottom: calc(var(--spacing-unit) * 2);
}
